<html ng-app="deSlimsteMensApp">
<head>
	<link rel="stylesheet" type="text/css" href="DeSlimsteMens.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pacifico|Francois+One|Lato:300" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<!--
	<script src="js/angular-resource.min.js"></script>
	-->
	<script src="js/angular.min.js"></script>
	<script src="js/arrays.js"></script>
	<script src="js/spelers.js"></script>
	<script src="js/slimsteKindVan2014.js"></script>
	<script src="js/slimsteMensVan2014.js"></script>
	<script src="js/voorbeeldQuiz.js"></script>
	<script src="js/controller.js"></script>
</head>
<body ng-controller="DeSlimsteMensCtrl">
	<div class="title" ng-show="titelTonen()">
		<h1>
		<span id="vorigeRonde" class="fa fa-caret-left" ng-click="vorigeRonde()"></span>
			&nbsp;&nbsp;&nbsp;{{huidigeRonde.title}}&nbsp;&nbsp;&nbsp;
		<span id="volgendeRonde" class="fa fa-caret-right" ng-click="volgendeRonde()"></span>
		</h1>
	</div>
	<div id="deSlimsteMensBegin" ng-show="huidigeRonde == deSlimsteMensBegin">
		<div class="configuratieDeSlimsteMens">
			<select class="slimsteQuizConfiguratie" ng-model="geselecteerdeQuiz" ng-options="quiz.naam for quiz in mogelijkeQuizzen">
				<option value="">--------------- Kies een quiz ---------------</option>
			</select>
			<div ng-repeat="speler in spelers.spelers">
				<input class="slimsteQuizConfiguratie" type="text" ng-model="speler.name" />
			</div>
			<input class="slimsteQuizConfiguratie" type="button" value="Start quiz!" ng-click="startQuiz()" />
		</div>
	</div>
	<div id="drieZesNegenRonde" ng-show="huidigeRonde == drieZesNegenRonde">
		<div class="drieZesNegenLijn1">
			<div id="vraag1" ng-class="drieZesNegenRonde.styleClassVoorVraag(1)">1</div>
			<div id="vraag2" ng-class="drieZesNegenRonde.styleClassVoorVraag(2)">2</div>
			<div id="vraag3" ng-class="drieZesNegenRonde.styleClassVoorVraag(3)">3</div>
			<div id="vraag4" ng-class="drieZesNegenRonde.styleClassVoorVraag(4)">4</div>
			<div id="vraag5" ng-class="drieZesNegenRonde.styleClassVoorVraag(5)">5</div>
			<div id="vraag6" ng-class="drieZesNegenRonde.styleClassVoorVraag(6)">6</div>
		</div>
		<div class="drieZesNegenLijn2">
			<div id="vraag7" ng-class="drieZesNegenRonde.styleClassVoorVraag(7)">7</div>
			<div id="vraag8" ng-class="drieZesNegenRonde.styleClassVoorVraag(8)">8</div>
			<div id="vraag9" ng-class="drieZesNegenRonde.styleClassVoorVraag(9)">9</div>
			<div id="vraag10" ng-class="drieZesNegenRonde.styleClassVoorVraag(10)">10</div>
			<div id="vraag11" ng-class="drieZesNegenRonde.styleClassVoorVraag(11)">11</div>
			<div id="vraag12" ng-class="drieZesNegenRonde.styleClassVoorVraag(12)">12</div>
		</div>
		<div class="drieZesNegenLijn3">
			<div id="vraag13" ng-class="drieZesNegenRonde.styleClassVoorVraag(13)">13</div>
			<div id="vraag14" ng-class="drieZesNegenRonde.styleClassVoorVraag(14)">14</div>
			<div id="vraag15" ng-class="drieZesNegenRonde.styleClassVoorVraag(15)">15</div>
		</div>
	</div>
	<div id="openDeurRonde" ng-show="huidigeRonde == openDeurRonde">
		<table class="openDeur" ng-show="openDeurRonde.isInModusOverzicht()">
			<tr>
				<td>
					<a ng-href="{{deSlimsteData.vragenOpenDeurRonde[0].urlFilm}}" target="videoWindow"><img ng-src="{{deSlimsteData.vragenOpenDeurRonde[0].urlFoto}}" /></a>
					<button ng-click="openDeurRonde.toonAntwoorden(deSlimsteData.vragenOpenDeurRonde[0])" type="button">Naar antwoorden</button>
				</td>
				<td>
					<a ng-href="{{deSlimsteData.vragenOpenDeurRonde[1].urlFilm}}" target="videoWindow"><img ng-src="{{deSlimsteData.vragenOpenDeurRonde[1].urlFoto}}" /></a>
					<button ng-click="openDeurRonde.toonAntwoorden(deSlimsteData.vragenOpenDeurRonde[1])" type="button">Naar antwoorden</button>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<a ng-href="{{deSlimsteData.vragenOpenDeurRonde[2].urlFilm}}" target="videoWindow"><img ng-src="{{deSlimsteData.vragenOpenDeurRonde[2].urlFoto}}" /></a>
					<button ng-click="openDeurRonde.toonAntwoorden(deSlimsteData.vragenOpenDeurRonde[2])" type="button">Naar antwoorden</button>
				</td>
			</tr>
		</table>
		<div ng-show="openDeurRonde.isInModusVideo()">
			<video width="320" height="240" controls>
				<source ng-src="{{openDeurRonde.huidigeVraag.urlFilm}}" type="video/mp4">
			</video>
			<input class="slimsteQuizConfiguratie" type="button" value="Ga naar antwoorden" ng-click="openDeurRonde.naarAntwoorden()" />
		</div>
		<div ng-show="openDeurRonde.isInModusAntwoord()">
			<button ng-repeat="antwoord in openDeurRonde.antwoorden" ng-click="openDeurRonde.toonAntwoord(antwoord)"
				type="button" class="slimsteQuizConfiguratie {{antwoord.gevonden? 'gevonden':'onleesbaar'}}">{{antwoord.omschrijving}}</button>
			<button ng-click="openDeurRonde.terugNaarOverzicht()" type="button" class="slimsteQuizConfiguratie">Terug naar overzicht</button>
		</div>
	</div>
	<div id="puzzelRonde" ng-show="huidigeRonde == puzzelRonde">
		<div ng-show="puzzelRonde.isInModusOverzicht()">
			<button ng-repeat="puzzel in puzzelRonde.puzzels" ng-click="puzzelRonde.startPuzzel(puzzel)"
				type="button" class="slimsteQuizConfiguratie">{{puzzel.naam}}</button>
		</div>
		<div ng-show="puzzelRonde.isInModusPuzzel()">
			<table class="puzzelTabel" cellspacing="20px;">
				<tr>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[0].styleClass()}}">{{puzzelRonde.huidigePuzzel.alleHints[0].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[1].styleClass()}}">{{puzzelRonde.huidigePuzzel.alleHints[1].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[2].styleClass()}}">{{puzzelRonde.huidigePuzzel.alleHints[2].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[3].styleClass()}}">{{puzzelRonde.huidigePuzzel.alleHints[3].omschrijving}}</td>
				</tr>
				<tr>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[4].styleClass()}}">{{puzzelRonde.huidigePuzzel.alleHints[4].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[5].styleClass()}}">{{puzzelRonde.huidigePuzzel.alleHints[5].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[6].styleClass()}}">{{puzzelRonde.huidigePuzzel.alleHints[6].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[7].styleClass()}}">{{puzzelRonde.huidigePuzzel.alleHints[7].omschrijving}}</td>
				</tr>
				<tr>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[8].styleClass()}}">{{puzzelRonde.huidigePuzzel.alleHints[8].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[9].styleClass()}}">{{puzzelRonde.huidigePuzzel.alleHints[9].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[10].styleClass()}}">{{puzzelRonde.huidigePuzzel.alleHints[10].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[11].styleClass()}}">{{puzzelRonde.huidigePuzzel.alleHints[11].omschrijving}}</td>
				</tr>
			</table>
			<div class="puzzelAntwoorden">
				<button ng-repeat="antwoord in puzzelRonde.huidigePuzzel.antwoorden" ng-click="puzzelRonde.toonAntwoord(antwoord)"
					type="button" class="puzzelAntwoord {{antwoord.gevonden? antwoord.styleClass:'onleesbaar'}}">{{antwoord.omschrijving}}</button>
				<button ng-click="puzzelRonde.terugNaarOverzicht()"
					type="button" class="puzzelAntwoord">Terug naar overzicht</button>
			</div>
		</div>
	</div>
	<div id="deGalerij" ng-show="huidigeRonde == deGalerij">
		<div id="galerijButtons" ng-show="deGalerij.isButtonModus()">
			<button ng-repeat-start="galerij in deGalerij.getGalerijen()" ng-click="deGalerij.startGalerij(galerij)"
				type="button" class="slimsteMensButton buttonLeft">Start {{galerij.naam}}</button>
			<button ng-repeat-end ng-click="deGalerij.overloopGalerij(galerij)"
				type="button" class="slimsteMensButton buttonRight" >Overloop {{galerij.naam}}</button>
		</div>
		<div id="galerijFotos" ng-show="deGalerij.isGalerijModus()">
			<img ng-class="deGalerij.styleClassHuidigeFoto()" ng-src="{{deGalerij.urlHuidigeFoto()}}"/>
		</div>
	</div>
	<div id="collectiefGeheugen" ng-show="huidigeRonde == collectiefGeheugen">
		<div id="collectiefGeheugenButtons" ng-show="collectiefGeheugen.isOverzichtModus()">
			<button ng-repeat-start="video in collectiefGeheugen.getVideos()" ng-click="collectiefGeheugen.startVideo(video)"
				type="button" class="slimsteMensButton buttonLeft">Start {{video.naam}}</button>
			<button ng-repeat-end ng-click="collectiefGeheugen.toonAntwoorden(video)"
				type="button" class="slimsteMensButton buttonRight" >Naar antwoorden {{video.naam}}</button>
		</div>
		<div class="collectiefGeheugenAntwoorden" ng-show="collectiefGeheugen.isAntwoordModus()">
			<button ng-repeat="antwoord in collectiefGeheugen.huidigeVideo.antwoorden" ng-click="collectiefGeheugen.toonAntwoord(antwoord)"
				type="button" class="collectiefGeheugenAntwoord {{antwoord.gevonden? 'gevonden':'onleesbaar'}}">{{antwoord.omschrijving}}</button>
			<button ng-click="collectiefGeheugen.terugNaarOverzicht()" type="button" class="collectiefGeheugenAntwoord">Terug naar overzicht</button>
		</div>
	</div>
	<div id="deFinale" ng-show="huidigeRonde == deFinale">
		<div id="finaleSpelersSelecteren" ng-show="deFinale.isSelecteerFinaleSpelersModus()">
			<div class="uitlegFinale">
				Verwijder de afvallende speler en klik daarna op 'Finale starten' om te beginnen aan de finale.
			</div>
			<div class="{{speler.geselecteerd? 'geselecteerdeSpeler':'speler'}}" ng-repeat="speler in spelers.spelers" ng-click="spelers.selecteer(speler)">
				<div class="name">{{speler.name}}</div>
				<div class="score">{{speler.score}}</div>
			</div>
			<button ng-click="spelers.verwijderGeselecteerdeSpeler()" type="button" class="finaleButton" ng-show="deFinale.teVeelSpelers()">Verwijder geselecteerde speler</button>
			<button ng-click="deFinale.volgende()" type="button" class="finaleButton" ng-hide="deFinale.teVeelSpelers()">Finale starten</button>
		</div>
		<div id="finaleVragen" ng-show="deFinale.isVragenModus()">
			<div class="finaleVraag">
				<span id="finaleVraagNr">Vraag {{deFinale.huidigeVraag.nummer}}:</span>
				<span id="finaleVraag">{{deFinale.huidigeVraag.vraag}}</span>
			</div>
			<div class="finaleAntwoorden">
				<button ng-repeat="antwoord in deFinale.huidigeVraag.antwoorden" ng-click="deFinale.toonAntwoord(antwoord)"
					type="button" class="finaleAntwoord {{antwoord.gevonden? 'gevonden':'onleesbaar'}}">{{antwoord.omschrijving}}</button>
			</div>
		</div>
		<div id="finaleTisGebeurd" ng-show="deFinale.istGebeurd()">
			<div class="finaleGebeurd">Tis<br> gebeurd!</div>
		</div>
	</div>
	<div id="oorkonde" class="oorkonde" ng-show="huidigeRonde == oorkonde">
		<div id="definitieveOorkonde" class="configuratieDeSlimsteMens" ng-show="oorkonde.isNaamModus()">
			<div class="uitlegOorkonde">
				Vul de volledige naam van de winnaar in en klik daarna op 'Naar oorkonde' om te beginnen aan het offici&euml;le gedeelte.
			</div>
			<input class="oorkondeButton" type="text" ng-model="oorkonde.naamWinnaar" />
			<input class="oorkondeButton" type="button" value="Naar oorkonde" ng-click="oorkonde.naarOorkonde()" />
		</div>
		<div id="definitieveOorkonde" ng-show="oorkonde.isOorkondeModus()">
			<p>
				Op 31 december 2014 zijn wij een openbaar onderzoek begonnen onder leiding van de immer nieuwsgierige vorser, Kristof Buts. Een onderzoek naar de slimste mens ter wereld, onderbroken door hapjes, aangevuld met aangepaste wijnen.
			</p>
			<p>
				Het resultaat is dat vanaf heden, 1 januari 2015, de genaamde <span class="naamWinnaar">{{oorkonde.naamWinnaar}}</span> niet langer als dusdanig hoeft aangesproken te worden. Juister en eerbiediger is om vanaf nu te zeggen:
			</p>
			<div class="deSlimsteMensTitel">{{deSlimsteData.titel}}</div>
			<p>
				Quod erat demonstrandum, met felicitaties van de jury.
			</p>
		</div>
	</div>
	<div class="spelers" ng-show="spelersTonen()">
		<div class="{{speler.geselecteerd? 'geselecteerdeSpeler':'speler'}}" ng-repeat="speler in spelers.spelers" ng-click="spelers.selecteer(speler)">
			<div class="name">{{speler.name}}</div>
			<div class="score">{{speler.score}}</div>
		</div>
	</div>
	<div class="menuHider">
		<span class="fa fa-plus-square menuitem"  ng-hide="!menuHidden"  ng-click="menuHidden = false;"></span>
		<span class="fa fa-minus-square menuitem" ng-hide="menuHidden" ng-click="menuHidden = true;"></span>
	</div>
	<div class="menu" ng-hide="menuHidden">
		<div>
			<span class="fa fa-chevron-circle-left menuitem" ng-click="huidigeRonde.vorige()"></span>
			<span class="fa fa-chevron-circle-right menuitem" ng-click="huidigeRonde.volgende()"></span>
		</div>
		<div>
			<span class="fa fa-play menuitem" ng-hide="timerIsRunning()" ng-click="startTimer()"></span>
			<span class="fa fa-stop menuitem" ng-hide="!timerIsRunning()" ng-click="stopTimer()"></span>
			<span class="fa fa-check menuitem" ng-click="spelerHeeftJuistGeantwoord()"></span>
		</div>
		<div>
			<span class="fa fa-plus-circle menuitem" ng-click="addSecond()"></span>
			<span class="fa fa-minus-circle menuitem" ng-click="minusSecond()"></span>
		</div>
	</div>
</body>
</html>