<html ng-app="childApp">
<head>
	<link rel="stylesheet" type="text/css" href="css/DeSlimsteMens.css">
	<link rel="stylesheet" type="text/css" href="css/francoisOne.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<!--
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pacifico|Francois+One|Lato:300" />
	-->
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	
	<script src="js/angular.min.js"></script>
	<script src="js/spelers.js"></script>

	<script src="js/driezesnegen.js"></script>

	<script src="js/child.js"></script>
</head>
<body id="childBody" ng-controller="ChildCtrl">
	<div class="title">
		<h1>{{huidigeRonde.title}}</h1>
	</div>
	<div id="drieZesNegenRonde" ng-show="huidigeRonde.id == 'drieZesNegen'">
		<div class="drieZesNegenLijn1">
			<div id="vraag1" ng-class="drieZesNegenRonde.styleClassVoorVraag(1)">1</div>
			<div id="vraag2" ng-class="drieZesNegenRonde.styleClassVoorVraag(2)">2</div>
			<div id="vraag3" ng-class="drieZesNegenRonde.styleClassVoorVraag(3)">3</div>
			<div id="vraag4" ng-class="drieZesNegenRonde.styleClassVoorVraag(4)">4</div>
			<div id="vraag5" ng-class="drieZesNegenRonde.styleClassVoorVraag(5)">5</div>
			<div id="vraag6" ng-class="drieZesNegenRonde.styleClassVoorVraag(6)">6</div>
		</div>
		<div class="drieZesNegenLijn2">
			<div id="vraag7" ng-class="drieZesNegenRonde.styleClassVoorVraag(7)">7</div>
			<div id="vraag8" ng-class="drieZesNegenRonde.styleClassVoorVraag(8)">8</div>
			<div id="vraag9" ng-class="drieZesNegenRonde.styleClassVoorVraag(9)">9</div>
			<div id="vraag10" ng-class="drieZesNegenRonde.styleClassVoorVraag(10)">10</div>
			<div id="vraag11" ng-class="drieZesNegenRonde.styleClassVoorVraag(11)">11</div>
			<div id="vraag12" ng-class="drieZesNegenRonde.styleClassVoorVraag(12)">12</div>
		</div>
		<div class="drieZesNegenLijn3">
			<div id="vraag13" ng-class="drieZesNegenRonde.styleClassVoorVraag(13)">13</div>
			<div id="vraag14" ng-class="drieZesNegenRonde.styleClassVoorVraag(14)">14</div>
			<div id="vraag15" ng-class="drieZesNegenRonde.styleClassVoorVraag(15)">15</div>
		</div>
	</div>
	<div id="openDeurRonde" ng-show="huidigeRonde.id == 'openDeur'">
		<table class="openDeur" ng-show="opendeur.vragen">
			<tr>
				<td>
					<img ng-src="{{opendeur.vragen[0].urlFoto}}" />
				</td>
				<td>
					<img ng-src="{{opendeur.vragen[1].urlFoto}}" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<img ng-src="{{opendeur.vragen[2].urlFoto}}" />
				</td>
			</tr>
		</table>
		<div ng-show="opendeur.antwoorden">
			<button ng-repeat="antwoord in opendeur.antwoorden" type="button" class="slimsteQuizConfiguratie {{antwoord.gevonden? 'gevonden':'onleesbaar'}}">{{antwoord.omschrijving}}</button>
		</div>
	</div>
	<div id="puzzelRonde" ng-show="huidigeRonde.id == 'puzzel'">
		<div ng-show="huidigePuzzel.alleHints">
			<table class="puzzelTabel" cellspacing="20px;">
				<tr>
					<td class="puzzelCel {{huidigePuzzel.alleHints[0].styleClass}}">{{huidigePuzzel.alleHints[0].omschrijving}}</td>
					<td class="puzzelCel {{huidigePuzzel.alleHints[1].styleClass}}">{{huidigePuzzel.alleHints[1].omschrijving}}</td>
					<td class="puzzelCel {{huidigePuzzel.alleHints[2].styleClass}}">{{huidigePuzzel.alleHints[2].omschrijving}}</td>
					<td class="puzzelCel {{huidigePuzzel.alleHints[3].styleClass}}">{{huidigePuzzel.alleHints[3].omschrijving}}</td>
				</tr>
				<tr>
					<td class="puzzelCel {{huidigePuzzel.alleHints[4].styleClass}}">{{huidigePuzzel.alleHints[4].omschrijving}}</td>
					<td class="puzzelCel {{huidigePuzzel.alleHints[5].styleClass}}">{{huidigePuzzel.alleHints[5].omschrijving}}</td>
					<td class="puzzelCel {{huidigePuzzel.alleHints[6].styleClass}}">{{huidigePuzzel.alleHints[6].omschrijving}}</td>
					<td class="puzzelCel {{huidigePuzzel.alleHints[7].styleClass}}">{{huidigePuzzel.alleHints[7].omschrijving}}</td>
				</tr>
				<tr>
					<td class="puzzelCel {{huidigePuzzel.alleHints[8].styleClass}}">{{huidigePuzzel.alleHints[8].omschrijving}}</td>
					<td class="puzzelCel {{huidigePuzzel.alleHints[9].styleClass}}">{{huidigePuzzel.alleHints[9].omschrijving}}</td>
					<td class="puzzelCel {{huidigePuzzel.alleHints[10].styleClass}}">{{huidigePuzzel.alleHints[10].omschrijving}}</td>
					<td class="puzzelCel {{huidigePuzzel.alleHints[11].styleClass}}">{{huidigePuzzel.alleHints[11].omschrijving}}</td>
				</tr>
			</table>
			<div class="puzzelAntwoorden">
				<button ng-repeat="antwoord in huidigePuzzel.antwoorden"
						type="button" class="puzzelAntwoord {{antwoord.gevonden? antwoord.styleClass:'onleesbaar'}}">{{antwoord.omschrijving}}</button>
			</div>
		</div>
	</div>
	<div id="deGalerij" ng-show="huidigeRonde.id == 'deGalerij'">
		<div id="galerijFotos" ng-show="huidigeGalerijFoto.url">
			<img ng-class="huidigeGalerijFoto.styleClass()" ng-src="{{huidigeGalerijFoto.url}}"/>
		</div>
	</div>
	<div id="collectiefGeheugen" ng-show="huidigeRonde.id == 'collectiefGeheugen'">
		<div class="collectiefGeheugenAntwoorden" ng-show="huidigeCollectiefGeheugenVideo.antwoorden">
			<button ng-repeat="antwoord in huidigeCollectiefGeheugenVideo.antwoorden"
					type="button" class="collectiefGeheugenAntwoord {{antwoord.gevonden? 'gevonden':'onleesbaar'}}">{{antwoord.omschrijving}}</button>
		</div>
	</div>
	<div id="deFinale" ng-show="huidigeRonde.id == 'deFinale'">
		<div id="finaleVragen" ng-show="deFinale.huidigeVraag">
			<div class="finaleVraag">
				<span id="finaleVraagNr">Vraag {{deFinale.huidigeVraag.nummer}}:</span>
				<span id="finaleVraag" ng-class="deFinale.huidigeVraag.vraagTonen? '': 'onleesbaar'">{{deFinale.huidigeVraag.vraag}}</span>
			</div>
			<div class="finaleAntwoorden">
				<button ng-repeat="antwoord in deFinale.huidigeVraag.antwoorden"
						type="button" class="finaleAntwoord {{antwoord.gevonden? 'gevonden':'onleesbaar'}}">{{antwoord.omschrijving}}</button>
			</div>
		</div>
		<div id="finaleTisGebeurd" ng-show="deFinale.tisGebeurd">
			<div class="finaleGebeurd">Tis<br> gebeurd!</div>
		</div>
	</div>

	<div class="spelers aantalSpelers{{spelers.spelers.length}}" ng-show="spelersTonen()">
		<div class="{{speler.geselecteerd? 'geselecteerdeSpeler':'speler'}}" ng-repeat="speler in spelers.spelers">
			<div class="name">{{speler.name}}</div>
			<div class="score">{{speler.score}}</div>
		</div>
	</div>
</body>
</html>