<html ng-app="parentApp">
<head>
	<link rel="stylesheet" type="text/css" href="css/DeSlimsteMens.css">
	<link rel="stylesheet" type="text/css" href="css/francoisOne.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<!--
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pacifico|Francois+One|Lato:300" />
	-->
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

	<script src="js/angular.min.js"></script>
	<script src="js/spelers.js"></script>

	<script src="slimsteKindVan2014/slimsteKindVan2014.js"></script>
	<script src="slimsteMensVan2014/slimsteMensVan2014.js"></script>
	<script src="voorbeeldquiz/voorbeeldquiz.js"></script>

	<script src="js/deslimstemensbegin.js"></script>
	<script src="js/driezesnegen.js"></script>
	<script src="js/opendeurronde.js"></script>
	<script src="js/puzzelronde.js"></script>

	<script src="js/parent.js"></script>
</head>
<body id="parentBody" ng-controller="ParentCtrl">
	<div class="title">
		<h1>
			<span id="vorigeRonde" class="fa fa-caret-left" ng-click="vorigeRonde()"></span>
			&nbsp;&nbsp;&nbsp;{{huidigeRonde.title}}&nbsp;&nbsp;&nbsp;
			<span id="volgendeRonde" class="fa fa-caret-right" ng-click="volgendeRonde()"></span>
		</h1>
	</div>
	<div id="deSlimsteMensBegin" ng-show="huidigeRonde.id == 'begin'">
		<div class="configuratieDeSlimsteMens">
			<select class="slimsteQuizConfiguratie" ng-model="geselecteerdeQuiz" ng-options="quiz.naam for quiz in mogelijkeQuizzen">
				<option value="">--------------- Kies een quiz ---------------</option>
			</select>
			<div ng-repeat="speler in spelers.spelers">
				<input class="slimsteQuizConfiguratie" type="text" ng-model="speler.name" />
			</div>
			<input class="slimsteQuizConfiguratie" type="button" value="Start quiz!" ng-click="startQuiz()" />
		</div>
	</div>
	<div id="drieZesNegenRonde" class="drieZesNegenParent" ng-show="huidigeRonde.id == 'drieZesNegen'">
		<h2>Huidige vraag: {{drieZesNegenRonde.huidigeVraag}}</h2>
		<p>Wat als blablabla?</p>
		<h2>Antwoord:</h2>
		<p>blieblabloe</p>
	</div>
	<div id="openDeurRonde" ng-show="huidigeRonde.id == 'openDeur'">
		<table class="openDeur" ng-show="openDeurRonde.isInModusOverzicht()">
			<tr>
				<td>
					<a ng-href="{{deSlimsteData.opendeur.vragen[0].urlFilm}}" target="videoWindow"><img ng-src="{{deSlimsteData.opendeur.vragen[0].urlFoto}}" /></a>
					<button ng-click="openDeurRonde.toonAntwoorden(deSlimsteData.opendeur.vragen[0])" type="button">Naar antwoorden</button>
				</td>
				<td>
					<a ng-href="{{deSlimsteData.opendeur.vragen[1].urlFilm}}" target="videoWindow"><img ng-src="{{deSlimsteData.opendeur.vragen[1].urlFoto}}" /></a>
					<button ng-click="openDeurRonde.toonAntwoorden(deSlimsteData.opendeur.vragen[1])" type="button">Naar antwoorden</button>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<a ng-href="{{deSlimsteData.opendeur.vragen[2].urlFilm}}" target="videoWindow"><img ng-src="{{deSlimsteData.opendeur.vragen[2].urlFoto}}" /></a>
					<button ng-click="openDeurRonde.toonAntwoorden(deSlimsteData.opendeur.vragen[2])" type="button">Naar antwoorden</button>
				</td>
			</tr>
		</table>
		<div ng-show="openDeurRonde.isInModusAntwoord()">
			<button ng-repeat="antwoord in openDeurRonde.antwoorden" ng-click="openDeurRonde.toonAntwoord(antwoord)"
					type="button" class="slimsteQuizConfiguratie {{antwoord.gevonden? 'gevonden':'onleesbaar'}}">{{antwoord.omschrijving}}</button>
			<button ng-click="openDeurRonde.terugNaarOverzicht()" type="button" class="slimsteQuizConfiguratie">Terug naar overzicht</button>
		</div>
	</div>
	<div id="puzzelRonde" ng-show="huidigeRonde.id == 'puzzel'">
		<div ng-show="puzzelRonde.isInModusOverzicht()">
			<button ng-repeat="puzzel in puzzelRonde.puzzels" ng-click="puzzelRonde.startPuzzel(puzzel)"
					type="button" class="slimsteQuizConfiguratie">{{puzzel.naam}}</button>
		</div>
		<div ng-show="puzzelRonde.isInModusPuzzel()">
			<table class="puzzelTabel" cellspacing="20px;">
				<tr>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[0].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[0].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[1].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[1].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[2].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[2].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[3].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[3].omschrijving}}</td>
				</tr>
				<tr>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[4].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[4].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[5].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[5].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[6].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[6].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[7].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[7].omschrijving}}</td>
				</tr>
				<tr>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[8].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[8].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[9].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[9].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[10].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[10].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[11].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[11].omschrijving}}</td>
				</tr>
			</table>
			<div class="puzzelAntwoorden">
				<button ng-repeat="antwoord in puzzelRonde.huidigePuzzel.antwoorden" ng-click="puzzelRonde.toonAntwoord(antwoord)"
						type="button" class="puzzelAntwoord {{antwoord.gevonden? antwoord.styleClass:'onleesbaar'}}">{{antwoord.omschrijving}}</button>
				<button ng-click="puzzelRonde.toonAlleAntwoorden()"
						type="button" class="puzzelAntwoord">Toon alle antwoorden</button>
				<button ng-click="puzzelRonde.terugNaarOverzicht()"
						type="button" class="puzzelAntwoord">Terug naar overzicht</button>
			</div>
		</div>
	</div>

	<div class="spelers aantalSpelers{{spelers.aantalSpelers()}}">
		<div class="{{speler.geselecteerd? 'geselecteerdeSpeler':'speler'}}" ng-repeat="speler in spelers.spelers" ng-click="spelers.selecteer(speler)">
			<div class="name">{{speler.name}}</div>
			<div class="score">{{speler.score}}</div>
		</div>
	</div>
	<div class="menu" ng-hide="menuHidden">
		<div>
			<span class="fa fa-chevron-circle-left" ng-click="vorige()" ng-class="isVorigeEnabled()? 'menuitem':'menuitemdisabled'"></span>
			<span class="fa fa-chevron-circle-right" ng-click="volgende()" ng-class="isVolgendeEnabled()? 'menuitem':'menuitemdisabled'"></span>
		</div>
		<div>
			<span class="fa fa-play" ng-hide="timerIsRunning()" ng-click="startTimer()" ng-class="isStartTimerEnabled()? 'menuitem':'menuitemdisabled'"></span>
			<span class="fa fa-stop menuitem" ng-hide="!timerIsRunning()" ng-click="stopTimer()"></span>
			<span class="fa fa-check" ng-click="spelerHeeftJuistGeantwoord()" ng-class="spelerHeeftJuistGeantwoordIsEnabled()? 'menuitem':'menuitemdisabled'"></span>
		</div>
		<div>
			<span class="fa fa-plus-circle" ng-click="addSecond()" ng-class="isAddSecondEnabled()? 'menuitem':'menuitemdisabled'"></span>
			<span class="fa fa-minus-circle" ng-click="minusSecond()" ng-class="isMinusSecondEnabled()? 'menuitem':'menuitemdisabled'"></span>
		</div>
		<div>
			<span class="fa fa-user" ng-click="switchSpeler()" ng-class="isSwitchSpelerEnabled()? 'menuitem':'menuitemdisabled'"></span>
			<span class="fa fa-link" ng-click="openLink()" ng-class="isLinkEnabled()? 'menuitem':'menuitemdisabled'"></span>
		</div>
	</div>
</body>
</html>