<html ng-app="parentApp">
<head>
	<link rel="stylesheet" type="text/css" href="css/DeSlimsteMens.css">
	<link rel="stylesheet" type="text/css" href="css/francoisOne.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<!--
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pacifico|Francois+One|Lato:300" />
	-->
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	
	<script src="js/angular.min.js"></script>
	<script src="js/spelers.js"></script>
	<script src="js/parent.js"></script>
</head>
<body id="parentBody" ng-controller="ParentCtrl">
	<div class="title">
		<h1>De slimste Parent</h1>
	</div>
	<div id="deSlimsteMensBegin">
		<div class="configuratieDeSlimsteMens">
			<div ng-repeat="speler in spelers.spelers">
				<input class="slimsteQuizConfiguratie" type="text" ng-model="speler.name" />
			</div>
			<input class="slimsteQuizConfiguratie" type="button" value="Start quiz!" ng-click="startQuiz()" />
		</div>
	</div>
	<div class="spelers aantalSpelers{{spelers.aantalSpelers()}}">
		<div class="{{speler.geselecteerd? 'geselecteerdeSpeler':'speler'}}" ng-repeat="speler in spelers.spelers" ng-click="spelers.selecteer(speler)">
			<div class="name">{{speler.name}}</div>
			<div class="score">{{speler.score}}</div>
		</div>
	</div>
	<div class="menu">
		<div>
			<span class="fa fa-plus-circle" ng-click="addSecond()" class="menuitem"></span>
			<span class="fa fa-minus-circle" ng-click="minusSecond()" class="menuitem"></span>
		</div>
		<div>
			<span class="fa fa-user" ng-click="switchSpeler()" class="menuitem"></span>
		</div>
	</div>
</body>
</html>