<html ng-app="parentApp">
<head>
	<link rel="stylesheet" type="text/css" href="css/DeSlimsteMens.css">
	<link rel="stylesheet" type="text/css" href="css/francoisOne.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<!--
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pacifico|Francois+One|Lato:300" />
	-->
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

	<!-- LIBRARIES -->
	<script src="js/angular.min.js"></script>
	<script src="js/arrays.js"></script>
	<script src="js/spelers.js"></script>

	<!-- QUIZZEN -->
	<script src="js/slimstequizzen.js"></script>
	<script src="quizzen/voorbeeldquiz/voorbeeldquiz.js"></script>
	<!-- BEGIN IMPORT VAN GEGENEREERDE SCRIPTS -->
	<script src="slimsteKindVan2014/slimsteKindVan2014.js"></script>
	<script src="slimsteMensVan2014/slimsteMensVan2014.js"></script>
	<script src="quizzen/slimste-mens-van-2015/quiz.js"></script>
	<!-- EINDE IMPORT VAN GEGENEREERDE SCRIPTS -->

	<!-- RONDES -->
	<script src="js/deslimstemensbegin.js"></script>
	<script src="js/driezesnegen.js"></script>
	<script src="js/opendeurronde.js"></script>
	<script src="js/puzzelronde.js"></script>
	<script src="js/degalerij.js"></script>
	<script src="js/collectiefgeheugen.js"></script>
	<script src="js/definale.js"></script>
	<script src="js/oorkonde.js"></script>

	<!-- APPLICATIE -->
	<script src="js/parent.js"></script>
</head>
<body id="parentBody" ng-controller="ParentCtrl">
	<div class="title">
		<h1>
			<span id="vorigeRonde" class="fa fa-caret-left" ng-click="vorigeRonde()"></span>
			&nbsp;&nbsp;&nbsp;{{huidigeRonde.title}}&nbsp;&nbsp;&nbsp;
			<span id="volgendeRonde" class="fa fa-caret-right" ng-click="volgendeRonde()"></span>
		</h1>
	</div>
	<div id="deSlimsteMensBegin" ng-show="huidigeRonde.id == 'begin'">
		<div class="configuratieDeSlimsteMens">
			<select class="slimsteQuizConfiguratie" ng-model="geselecteerdeQuiz" ng-options="quiz for quiz in mogelijkeQuizzen">
				<option value="">--------------- Kies een quiz ---------------</option>
			</select>
			<div ng-repeat="speler in spelers.spelers">
				<input class="slimsteQuizConfiguratie" type="text" ng-model="speler.name" />
			</div>
			<input class="slimsteQuizConfiguratie" type="button" value="Start quiz!" ng-click="startQuiz()" />
		</div>
	</div>
	<div id="drieZesNegenRonde" class="drieZesNegenParent" ng-show="huidigeRonde.id == 'drieZesNegen'">
		<h2>Huidige vraag: {{drieZesNegenRonde.huidigeVraag}}</h2>
		<p>{{drieZesNegenRonde.getHuidigeVraag().vraag}}</p>
		<h2>Antwoord:</h2>
		<p>{{drieZesNegenRonde.getHuidigeVraag().antwoord}}</p>
	</div>
	<div id="openDeurRonde" ng-show="huidigeRonde.id == 'openDeur'">
		<table class="openDeur" ng-show="openDeurRonde.isInModusOverzicht()">
			<tr>
				<td>
					<a ng-href="{{deSlimsteData.opendeur.vragen[0].urlFilm}}" target="videoWindow"><img ng-src="{{deSlimsteData.opendeur.vragen[0].urlFoto}}" /></a>
					<button ng-click="openDeurRonde.toonAntwoorden(deSlimsteData.opendeur.vragen[0])" type="button">Naar antwoorden</button>
				</td>
				<td>
					<a ng-href="{{deSlimsteData.opendeur.vragen[1].urlFilm}}" target="videoWindow"><img ng-src="{{deSlimsteData.opendeur.vragen[1].urlFoto}}" /></a>
					<button ng-click="openDeurRonde.toonAntwoorden(deSlimsteData.opendeur.vragen[1])" type="button">Naar antwoorden</button>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<a ng-href="{{deSlimsteData.opendeur.vragen[2].urlFilm}}" target="videoWindow"><img ng-src="{{deSlimsteData.opendeur.vragen[2].urlFoto}}" /></a>
					<button ng-click="openDeurRonde.toonAntwoorden(deSlimsteData.opendeur.vragen[2])" type="button">Naar antwoorden</button>
				</td>
			</tr>
		</table>
		<div ng-show="openDeurRonde.isInModusAntwoord()">
			<button ng-repeat="antwoord in openDeurRonde.antwoorden" ng-click="openDeurRonde.toonAntwoord(antwoord)"
					type="button" class="slimsteQuizConfiguratie {{antwoord.gevonden? 'gevonden':''}}">{{antwoord.omschrijving}}</button>
			<button ng-click="openDeurRonde.terugNaarOverzicht()" type="button" class="slimsteQuizConfiguratie">Terug naar overzicht</button>
		</div>
	</div>
	<div id="puzzelRonde" ng-show="huidigeRonde.id == 'puzzel'">
		<div ng-show="puzzelRonde.isInModusOverzicht()">
			<button ng-repeat="puzzel in puzzelRonde.puzzels" ng-click="puzzelRonde.startPuzzel(puzzel)"
					type="button" class="slimsteQuizConfiguratie">{{puzzel.naam}}</button>
		</div>
		<div ng-show="puzzelRonde.isInModusPuzzel()">
			<table class="puzzelTabel" cellspacing="20px;">
				<tr>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[0].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[0].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[1].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[1].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[2].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[2].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[3].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[3].omschrijving}}</td>
				</tr>
				<tr>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[4].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[4].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[5].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[5].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[6].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[6].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[7].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[7].omschrijving}}</td>
				</tr>
				<tr>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[8].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[8].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[9].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[9].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[10].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[10].omschrijving}}</td>
					<td class="puzzelCel {{puzzelRonde.huidigePuzzel.alleHints[11].styleClass}}">{{puzzelRonde.huidigePuzzel.alleHints[11].omschrijving}}</td>
				</tr>
			</table>
			<div class="puzzelAntwoorden">
				<button ng-repeat="antwoord in puzzelRonde.huidigePuzzel.antwoorden" ng-click="puzzelRonde.toonAntwoord(antwoord)"
						type="button" class="puzzelAntwoord {{antwoord.gevonden? antwoord.styleClass:'leesbaar'}}">{{antwoord.omschrijving}}</button>
				<button ng-click="puzzelRonde.toonAlleAntwoorden()"
						type="button" class="puzzelAntwoord">Toon alle antwoorden</button>
				<button ng-click="puzzelRonde.terugNaarOverzicht()"
						type="button" class="puzzelAntwoord">Terug naar overzicht</button>
			</div>
		</div>
	</div>
	<div id="deGalerij" ng-show="huidigeRonde.id == 'deGalerij'">
		<div id="galerijButtons" ng-show="deGalerij.isButtonModus()">
			<button ng-repeat-start="galerij in deGalerij.getHuidigeGalerijen()" ng-click="deGalerij.startGalerij(galerij)"
					type="button" class="slimsteMensButton buttonLeft">Start {{galerij.naam}}</button>
			<button ng-repeat-end ng-click="deGalerij.overloopGalerij(galerij)"
					type="button" class="slimsteMensButton buttonRight" >Overloop {{galerij.naam}}</button>
		</div>
		<div id="galerijFotos" ng-show="deGalerij.isGalerijModus() || deGalerij.isOverzichtAntwoordenModus()">
			<button ng-repeat="antwoord in deGalerij.antwoorden" ng-click="deGalerij.toonAntwoord(antwoord)"
					type="button" class="galerijAntwoord  {{$even? 'galerijAntwoordLinks': 'galerijAntwoordRechts'}} {{antwoord.gevonden? 'gevonden':''}} {{(deGalerij.isHuidigeFoto(antwoord))? 'huidige': ''}}">{{antwoord.omschrijving}}</button>
			<button type="button" class="galerijAntwoord" ng-click="deGalerij.stopHuidigeGalerij()">Terug naar overzicht</button>
		</div>
	</div>
	<div id="collectiefGeheugen" ng-show="huidigeRonde.id == 'collectiefGeheugen'">
		<div id="collectiefGeheugenButtons" ng-show="collectiefGeheugen.isOverzichtModus()">
			<button ng-repeat-start="video in collectiefGeheugen.getVideos()" ng-click="collectiefGeheugen.startVideo(video)"
					type="button" class="slimsteMensButton buttonLeft">Start {{video.naam}}</button>
			<button ng-repeat-end ng-click="collectiefGeheugen.toonAntwoorden(video)"
					type="button" class="slimsteMensButton buttonRight" >Naar antwoorden {{video.naam}}</button>
		</div>
		<div class="collectiefGeheugenAntwoorden" ng-show="collectiefGeheugen.isAntwoordModus()">
			<button ng-repeat="antwoord in collectiefGeheugen.huidigeVideo.antwoorden" ng-click="collectiefGeheugen.toonAntwoord(antwoord)"
					type="button" class="collectiefGeheugenAntwoord {{antwoord.gevonden? 'gevonden':''}}">{{antwoord.omschrijving}}</button>
			<button ng-click="collectiefGeheugen.terugNaarOverzicht()" type="button" class="collectiefGeheugenAntwoord">Terug naar overzicht</button>
		</div>
	</div>
	<div id="deFinale" ng-show="huidigeRonde.id == 'deFinale'">
		<div id="finaleSpelersSelecteren" ng-show="deFinale.isSelecteerFinaleSpelersModus()">
			<div class="uitlegFinale">
				Verwijder de afvallende speler en klik daarna op 'Finale starten' om te beginnen aan de finale.
			</div>
			<div class="{{speler.geselecteerd? 'geselecteerdeSpeler':'speler'}}" ng-repeat="speler in spelers.spelers" ng-click="spelers.selecteer(speler)">
				<div class="name">{{speler.name}}</div>
				<div class="score">{{speler.score}}</div>
			</div>
			<button ng-click="spelers.verwijderGeselecteerdeSpeler()" type="button" class="finaleButton" ng-show="deFinale.teVeelSpelers()">Verwijder geselecteerde speler</button>
			<button ng-click="deFinale.volgende()" type="button" class="finaleButton" ng-hide="deFinale.teVeelSpelers()">Finale starten</button>
		</div>
		<div id="finaleVragen" ng-show="deFinale.isVragenModus()">
			<div class="finaleVraag">
				<span id="finaleVraagNr">Vraag {{deFinale.huidigeVraag.nummer}}:</span>
				<span id="finaleVraag" ng-class="deFinale.huidigeVraag.vraagTonen? '': 'onleesbaar'" ng-click="deFinale.toonHuidigeVraag()">{{deFinale.huidigeVraag.vraag}}</span>
			</div>
			<div class="finaleAntwoorden">
				<button ng-repeat="antwoord in deFinale.huidigeVraag.antwoorden" ng-click="deFinale.toonAntwoord(antwoord)"
						type="button" class="finaleAntwoord {{deFinale.huidigeVraag.vraagTonen? '': 'onleesbaar'}} {{antwoord.gevonden? 'gevonden':''}}">{{antwoord.omschrijving}}</button>
			</div>
		</div>
		<div id="finaleTisGebeurd" ng-show="deFinale.istGebeurd()">
			<div class="finaleGebeurd">Tis<br> gebeurd!</div>
		</div>
	</div>
	<div id="oorkonde" class="oorkonde" ng-show="huidigeRonde.id == 'oorkonde'">
		<div id="oorkondeInvulling" class="configuratieDeSlimsteMens" ng-show="oorkonde.isNaamModus()">
			<div class="uitlegOorkonde">
				Vul de volledige naam van de winnaar in en klik daarna op 'Naar oorkonde' om te beginnen aan het offici&euml;le gedeelte.
			</div>
			<input class="oorkondeButton" type="text" ng-model="oorkonde.naamWinnaar" />
			<input class="oorkondeButton" type="button" value="Naar oorkonde" ng-click="oorkonde.naarOorkonde()" />
		</div>
		<div id="definitieveOorkonde" ng-show="oorkonde.isOorkondeModus()">
			<p>
				Op 31 december 2015 zijn wij een openbaar onderzoek begonnen onder leiding van de immer nieuwsgierige vorser, Lieve Drees. Een onderzoek naar de slimste mens ter wereld, onderbroken door hapjes, aangevuld met aangepaste wijnen.
			</p>
			<p>
				Het resultaat is dat vanaf heden, 1 januari 2016, de genaamde <span class="naamWinnaar">{{oorkonde.naamWinnaar}}</span> niet langer als dusdanig hoeft aangesproken te worden. Juister en eerbiediger is om vanaf nu te zeggen:
			</p>
			<div class="deSlimsteMensTitel">{{oorkonde.slimsteTitel}}</div>
			<p>
				Quod erat demonstrandum, met felicitaties van de jury.
			</p>
		</div>
	</div>

	<div class="spelers aantalSpelers{{spelers.aantalSpelers()}}" ng-show="spelersTonen()">
		<div class="{{speler.geselecteerd? 'geselecteerdeSpeler':'speler'}}" ng-repeat="speler in spelers.spelers" ng-click="spelers.selecteer(speler)">
			<div class="name">{{speler.name}}</div>
			<div class="score">{{speler.score}}</div>
		</div>
	</div>
	<div class="menu" ng-hide="menuHidden">
		<div>
			<span class="fa fa-chevron-circle-left" ng-click="vorige()" ng-class="isVorigeEnabled()? 'menuitem':'menuitemdisabled'"></span>
			<span class="fa fa-chevron-circle-right" ng-click="volgende()" ng-class="isVolgendeEnabled()? 'menuitem':'menuitemdisabled'"></span>
		</div>
		<div>
			<span class="fa fa-play" ng-hide="timerIsRunning()" ng-click="startTimer()" ng-class="isStartTimerEnabled()? 'menuitem':'menuitemdisabled'"></span>
			<span class="fa fa-stop menuitem" ng-hide="!timerIsRunning()" ng-click="stopTimer()"></span>
			<span class="fa fa-check" ng-click="spelerHeeftJuistGeantwoord()" ng-class="spelerHeeftJuistGeantwoordIsEnabled()? 'menuitem':'menuitemdisabled'"></span>
		</div>
		<div>
			<span class="fa fa-plus-circle" ng-click="addSecond()" ng-class="isAddSecondEnabled()? 'menuitem':'menuitemdisabled'"></span>
			<span class="fa fa-minus-circle" ng-click="minusSecond()" ng-class="isMinusSecondEnabled()? 'menuitem':'menuitemdisabled'"></span>
		</div>
		<div>
			<span class="fa fa-user" ng-click="switchSpeler()" ng-class="isSwitchSpelerEnabled()? 'menuitem':'menuitemdisabled'"></span>
			<span class="fa fa-link" ng-click="openLink()" ng-class="isLinkEnabled()? 'menuitem':'menuitemdisabled'"></span>
		</div>
	</div>
</body>
</html>